.sesion{
    float:right;

}
div {
    float: left;
}
div.productos {
    float: left;
    border: 1px solid black;
    width: 300px;
    text-align: left;
 
}

div.sesion p {
    float: left;
    margin: 4px;
}
