
header h1{
    font-size: 6em;
    font-family: 'Road Rage';
    color: black;
}

.cabe{
    background-image: url("../img/prueba.png");
    background-position: center center;
    background-size: cover;
    
}

.datos{
    background-color: white;
    width: 300px;
}
.iniS{
    color: #e8e8f4 ;
    background-color: rgba(0, 0, 0, .5);
    

}

.texto{
    color: black;
    
}
.prod{
    
    background-color: #cbde6f;
}

.fondoT{
    background-color: #0e4749;
    opacity: .8;
}
.titulo{
    color: white;
}
body{
   
    font-style: bold;
 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fondo.jpg");
     /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: #464646;
}

