
header h1{
    font-size: 6em;
    font-family: 'Road Rage';
    color: black;
   opacity: none;
}

.cabe{
    background-image: url("../img/prueba2.png");
    
}

.datos{
    background-color: white;
    width: 300px;
}
.iniS{
    color: #e8e8f4 ;
    background-color: black ;
    opacity: .8;
}
.texto{
    color: black;
}
.prod{
    
  opacity: .9;
    
}
div.prod{
    
    background-color: #cbde6f;
}
nav.navbar {
    background-color: #002626;
}
.fondoT{
    background-color: #0e4749;
    opacity: .8;
}
.titulo{
    color: white;
}
.container-fluid{
   
    font-style: bold;
    background-image: url("../img/fondo.jpg");
     /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: #464646;
}

